body{
    background-color:#F9CB9C;
}

.tam_img{
    width: 100%;
    max-width: 550px;
    
}
    
.titulos{
    font-size: 55px;
    text-align: center;
    
}
.tam_logo_mini{
    width: 100%;
    max-width: 350px;
    
}
.letra_form{
    font-size: 24px;
    text-align: center;
    font-style: oblique;
}